<!DOCTYPE HTML>
<html lang="{{ config.language }}">
<head>
    <title>Open Source Contributions by {{ organization.name }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% if config.rss_link|default(true) %}
    <link href="rss.xml" rel="alternate" type="application/rss+xml"  title="RSS 2.0 Feed for Open Source Contributions by {{ organization.name }}" />
{% endif %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
{% block preamble %}
    <header class="container p-5">
        <h1 class="text-center">Open Source Contributions by {{ organization.name }}</h1>
        <p class="lead text-muted">{{ organization.introduction }}</p>
{% if config.rss_link|default(true) %}
        <aside>
            <a href="rss.xml">RSS 2.0 Feed</a>
        </aside>
{% endif %}
    </header>
{% endblock %}

{% block contribution_items %}
    <section class="contributions bg-light py-4">
{% for contribution in contributions %}
    {% set links_group %}
        {% if contribution.links %}
            See
            <span class="btn-group" role="group" aria-label="Related links">
            {% for i, link in contribution.links %}
                <a href="{{ link }}" class="btn btn-outline-primary" role="button">{{ i + 1 }}</a>
            {% endfor %}
            </span>
            .
        {% endif %}
    {% endset %}
        <article class="container">
            <h2>{{ contribution.title }}</h2>
            <p class="lead">{{ contribution.description }}</p>
            <span class="badge bg-dark">{{ types[contribution.type] }}</span>
            {% for tag in projects[contribution.project].tags %}
                <span class="badge bg-dark">{{ tag }}</span>
            {% endfor %}
            <p>{{ contribution.start|date('F jS, Y') }} by <em>{{ people[contribution.who] }}</em> for <a href="{{ projects[contribution.project].url }}" class="btn btn-outline-secondary" role="button">{{ projects[contribution.project].name }}</a>. {{ links_group|spaceless }}</p>
        </article>
{% endfor %}
    </section>
{% endblock %}

{% block footer %}
    <footer class="container mt-4">
        <p class="lead">{{ organization.about }}</p>
        <p>Find more about <a href="{{ organization.url }}" class="btn btn-primary" role="button">{{ organization.name }}</a>.</p>
        <p class="text-secondary">Generated on {{ generation|date('F j, Y H:i O') }}</p>
    </footer>
{% endblock %}

{% block jsonld %}
  <script type="application/ld+json">
  {{ jsonld|json_encode|raw }}
  </script>
{% endblock %}

</body>
</html>
